<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Corrected LocalDate Bean -->
	<bean id="currentDate" class="java.time.LocalDate" factory-method="now"/>

	<!-- DiscountCalculator Bean -->
	<bean id="discountCal" class="sbeans.DiscountCalculator">
		<property name="currentDate" ref="currentDate"/>
	</bean>

</beans>
